<form action="/random/results">
  <label for="min_input">Minimum</label>
  <input id="min_input" type="text" placeholder="E.g. 1.5" name="user_min">
  <label for="max_input">Maximum</label>
  <input id="max_input" type="text" placeholder="E.g. 4.5" name="user_max">

  <button>Pick random number</button>
</form>
